* {
width: 100%;
margin: 0;
padding: 0; 

}

#container {
box-sizing: border-box;
width: max-content 960px;
text-align: center;
background-color: #344a72;
height: 950px;
color: beige;
text-decoration: none;
margin:  30px auto;
text


}