#header .para1 {
    border: 1px solid red;
    border-radius: 25%;
    font-size: 2em;
    
}

#header .para2 {
font-weight: bold;
font-style: italic;
}

#header .para3 {
    background-color: black;
    color: white;
    font-style: monospace;
    box-shadow: black;
}