:root {
  --navbar-color: #f4f4f4;
  --page1-color: gray;
  
}



* {
  margin: 0px;
  padding: 0px;
}

 

#navbar .menu ul {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    height: 50px;
    background-color: var(--navbar-color);
    border-radius: 50px;
    border: 1px solid black;
}


#navbar .btn .btn1 {
  float: left;   
  margin-top: 15px;
  margin-left: 50px;
}


#navbar .btn .btn2 {
 float: right;
 margin-top: 15px;
 margin-right: 50px;
}

#navbar .btn {
  height: 50px;
  border-radius: 50px;
  background-color: aqua;
    
}

.page1 {
    background-color: var(--page1-color);
}


@media(max-width:500px) and (min-width:100px) {
  #navbar {
    position: inline-block;
    height: 100px;
    width: 100%;
    background-color: chocolate;
    color: white;
    border: 2px solid black;
    display: ;
    flex-direction: row;
    border: 5px solid red;
  
  }   
  }