#main-header h1 {
    color: red;
    height: 50px;
    width: 200px;
    margin: auto;
    font-size: 3em;

}

#main-header p {
    color: black;
    font-size: 2em;
    width: 260px;
    height: 70px;
    margin: auto;
}

#main h1{
color: bisque;
width: 400px;
height: 100px;
margin: auto;
}

#main p{
    color: chocolate;
    width: 900px;
    height: 250px;
}
